body {  
    padding: 10px;  
    background:rgb(197, 197, 105);
    margin: 10%;
}
a {
    text-decoration: none;
}
header {
    text-align: center;
    background: white;
    border-bottom-color: rgb(58, 129, 196);
    background-size: cover;  

}

.nav {
   font-size: 20px;
    display: inline-block;
    height: 50px;
    width: 100%;


}
  
